<h1>恭喜！本任務似乎完成了！</h1>

<br><br>
<%= @task.teacher.name %>老師您好！

本任務細節如下：

<ol>
   <li>班級： <%= @task.classroom.name %></li>
   <li>學生： <%= @task.student.name %></li>
   <li>教師： <%= @task.teacher.name %></li>
   <li>標題： <%= @task.title %> </li>
</ol>

<span class="label label-info">處理狀態</span> 
<%= 
   case @task.status
   when 50 
      "老師宣稱本任務不須執行。" 
   when 60
      link_to "老師已上傳檔案，可點此查看。", :controller=>"posts", :action=>"show", :id=>@task.post.id
   when 49
      "本任務逾期未處理，管理者已經關閉任務。"
   when 80
      "已經處理但審核未通過"
   when 90
      "已經處理且審核通過"
   when 100
      "已結案"
   else
      "狀態不明"
   end
%>

<br><br>
如果老師任課的科目不須撰寫IEP，也請老師多留意該生上課的狀況，與身體健康是否不適。

