<h1>個人任務清單</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>班級</th>
      <th>學生</th>
      <th>老師</th>
      <th>文章</th>
      <th>標題</th>
      <th>屬性</th>
      <th>狀態</th>
      <th>建立時間</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |t| %>
      <tr>
        <td><%= t.classroom.name %></td>
        <td><%= t.student.name %></td>
        <td><%= t.teacher.name %></td>
        <td><%= t.post_id %></td>
        <td><%= link_to t.title, "/tasks/"+t.token %></td>
        <td><%= t.genus %></td>
        <td><%= 
           case t.status
           when 0..40
              "尚未完成"
           when 49 
              "逾期未處理"
           when 50
              "不需處理"
           when 60
              "已上傳"
           when 90
              "審核通過"
           when 100
              "已結案"
           else
              t.status
           end
        %>

        <td><%= t.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

