<div class="panel panel-default">
  <div class="panel-heading">
     <h3 class="panel-title"><%= @post.title %></h3>
  </div>
  <div class="panel-body">
  <%= @post.content.html_safe %>
  </div>
  <div class="panel-footer">
  <%= @post.user.name if @post.user_id %>
  <%= @post.updated_at %>
  <br>
  標籤：<%= @post.taxonomies %> <br>
  權限：<%= @post.permission %>

  </div>
</div>

相關附件：
<ul>
<% @attachments.each do |attach| %>
   <li><%= link_to attach.title+"(檔名："+attach.filename+"）", {:controller=>"admin/posts", :action=>"download", :id=>attach.id }  %> 
       <%= link_to '刪除', {:controller=>"admin/posts", :action=>"deletefile", :id=>attach.id } , data: { confirm: '確定刪除這個檔案？' } , :class=>"btn btn-danger btn-xs" %>
   </li>
<% end %>
</ul>


新增附加檔案：
<%= form_tag "upload", multipart: true do %> 
   <%= hidden_field_tag 'id', @post.id %>
   <%= text_field_tag 'title', nil, :placeholder=>"請輸入檔案標題" %>
   <%= file_field_tag 'datafile' %></p>
   <%= submit_tag "上傳", class: "btn btn-primary" %>
<% end %>

<br><br>

<%= link_to '編輯', edit_admin_post_path(@post.id), :class=>"btn btn-primary" %> |
<%= link_to '返回', admin_posts_path , :class=>"btn btn-primary" %>

